.profileSummary {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.profileImageLarge {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border: 0.125rem solid #eee;
}
.profileInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileNickname {
  font-size: 1.25rem;
  font-weight: bold;
} 