.section {
  /* margin: 2.5rem 0; */
  padding: 0.25rem;
  width: calc(100% - 0.5rem);
  background: #fff;
  border-radius: 0.75rem;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #222;
  font-family: var(--font-gangwon);
}

.moreBtn {
  font-size: 0.75rem;
  color: #888;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.25s;
}
.moreBtn:hover {
  color: #222;
}

.reviewList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.reviewItem {
  /* 카드 간 여백 */
}

.empty {
  color: #aaa;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1rem;
}
