/* Reset & Base */

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  tab-size: 4;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
sub,
sup,
tt,
var,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}

[hidden],
template {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  /*-webkit-appearance:button;*/
  cursor: pointer;
  padding: 0;
  background: transparent;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"] {
  /*-webkit-appearance:textfield;*/
  box-sizing: content-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

/* globals start */
body {
  font-family: var(--font-gangwon);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

/* Layout Components */
.main-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.main-container > div {
  padding: 5rem 1.5rem 2rem !important;
} /* 최하단 공통 레이아웃 */
